.multiChoiceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answers {
  margin-bottom: 10px; /* Adjust as needed */
  width: 100%;
  max-width: 510px;
}

.answers button {
  background-color: #F4F3F6;
  color: #060710;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.answers button.answerSelected {
  background-color: #45C486;
}

.answers button.answerSelected .answerText {
  color: white;
}

.answers button:disabled {
  opacity: 0.5;
}

.answers button.answerSelected.correct:disabled {
  opacity: 1;
  border: 3px solid gray;
}

.optionLetter {
  background-color: #EDE8E3;
  border-radius: 50%; /* Makes it a circle */
  width: 49px; /* Diameter */
  height: 49px; /* Diameter */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; /* Space between letter and text */
  font-size: 1.2em;
}

/* Mobile Styles */
@media (max-width: 600px) {
  .optionLetter {
      width: 36px; /* Smaller diameter for mobile */
      height: 36px; /* Smaller diameter for mobile */
  }

  .option button {
      max-width: 335px; /* Max width for mobile */
  }
}

/* Desktop Styles */
@media (min-width: 601px) {
  .option button {
      max-width: 510px; /* Max width for desktop */
  }
}

.correct {
  border: 3px solid #ff193c;
}

/* Control buttons */
.controlButtons {
  background-color: #F4F3F6;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controlButtons button {
  border-radius: 8px;
  background-color: #31CD63;
  color: #F4F3F6;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  width: 240px;
  height: 60px;
  margin: 10px;
}

.controlButtons button:disabled {
  background-color: #747475;
  opacity: 0.5;
  color: #EDE8E2;
}

