.currentQuestion {
  width: 80vw;
  margin: 10% auto;
}

.questionIndex {
  margin: 10% 0;
  text-align: center;
}

.questionImage {
  width: 80vw;
  height: auto;
}

.questionImage >img {
  width: 100%;
}