:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Controller */
.controller-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color:#18183c;
  color: #fff;
}

/* CurrentQuestion Styles */

/* Header */
.header-container{
  background-color: #808080;
  width: 100%;
  text-align: center;
}

/* Quiz Container */

.quiz-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.quiz-question{
  text-align: center;
  font-size: 18px;
  flex-wrap: wrap;
  color: #fff;
  margin: 0;
  padding: 50px;
  width: 100%;
  color: #fff;
}

/* Answers Div */

.answers-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  align-items: center;
  padding: 50px;
  margin: 0;

}

.answers{
  border-radius: 10px;
  border: 2px solid #f7f7f7;
  background-color: #bbbaba;
  min-height: 44px;
  color: #fff;
  font-weight: 600;
  width: 300px;
  text-align: left;
  font-size: 14px;
}

.answers:hover{
  border-radius: 10px;
  border: 2px solid greenyellow;
  background-color: cadetblue;
  color: #fff;
}

/* Quiz Img-Explanation */

.flip-card-container{
  display: flex;
  justify-content: center;
  width: 80%;
}

.explanation{
  text-align: justify;
}

/* Quiz Buttons */
.quiz-buttons-container{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0;
  background-color: darkgrey;
  padding: 25px 50px;
  width:inherit;
}

.btn{
  border-radius: 12px;
  padding: 8px;
  border: none;
  font-size: 14px;
}

.btn:hover{
  background-color: greenyellow;
}

.hidden {
  display: none;
}