body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/world.svg');
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.summarySection {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 12px;
}

.quiz{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 
}

.QuizContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.QuizContent img{
  width: 100%;  
  filter: blur(4px);
}

.textContainer{
  width: 100%; 
  height: 1000%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1.5px solid black
}

.questions {
  border: 3px solid grey;
  background: transparent;
}

.mapContainer {
  display: grid;
  grid-template-columns: 1fr; 
  border: 3px solid green;
}

.content button {
  width: 100%;
  height: 100px; 
  font-size: 24px;
  font-weight: bold;
}

.QuestionSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextButton button{
  width: 100%;
  height: 100px;
  font-size: 24px;
  font-weight: bold;
  background-color:#50cd55;
  color: #ffff;
}

.title{
  font-weight: bold;
}

@media (min-width: 768px){
  .quiz{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .summarySection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .container {
    background-color: rgba(255,255,255,0.7);
    padding: 20px;
  }
  
  .QuizContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
  }
  
  .QuizContent img{
    width: 100%;  
  }

  .textContainer{
    width: 70%;
    height: 1000%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px solid black
  }
  
  .questions {
    border: 3px solid grey;
  }
  
  .mapContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid green;
  }
  
  .content button {
    width: 100%;
    height: 200px;
    background-color: grayscale;
    font-size: 24px;
    font-weight: bold;
  }
  
  .content {
    border: 3px solid black;
  }
  
  .QuestionSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nextButton button{
    width: 100%;
    height: 100px;
    font-size: 24px;
    font-weight: bold;
    color: #ffff;
  }
}

