@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

body {
  font-family: "Permanent Marker", cursive;
  background-color: #2f80ed;
  color: white;
  height: 100%;
}

button {
  background-color: #4c5eaf;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 10px auto;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #af4c91;
}

button:disabled {
  cursor: default;
}

button:disabled:hover {
  background-color: #4caf50;
}

.button-correct {
  background-color: #4caf50;
}

.button-incorrect {
  background-color: #f44336;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.new-page {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.question-box {
  background-color: #333;
  border: 3px solid #bbb;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.5em;
  margin: auto;
  width: 80%;
}

@media (max-width: 600px) {
  .question-box,
  button {
    width: 90%;
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .question-box,
  button {
    width: 85%;
    font-size: 16px;
  }
}

@media (min-width: 1025px) {
  .question-box {
    width: 60%;
  }
  button {
    width: 70%;
  }
}
