.progressBar {
  height: 20px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.currentProgress {
  height: 100%;
  background-color: #31CD63;
  transition: 1s ease;
  border-radius: 8px;
}